<details class="accordion-item {{ cutom_class }}">
  <summary class="accordion-title">
    {{ title }}
    <span class="accordion-arrow"> {% render 'icons', type: 'dropdown-arrow' %} </span>
  </summary>
  <div class="accordion-content">
    <p>{{ content }}</p>
  </div>
</details>
