{% comment %}
  Variables:
  - menu: Linklist Object
  - custom_class: String

  Use:
  {% render 'link-list'
    menu: section.settings.menu
    custom_class: "main-menu"
  %} 
{% endcomment %}

<ul class="linklist-list {{ custom_class }}">
  {% for link in menu.links %}
    <li class="linklist-item">
      <a href="{{ link.url }}">
        {{ link.title }}
      </a>
    </li>
  {% endfor %}
</ul>
