{% form 'customer' %}
  <div class="email">
    <label for="email">Email</label>
    <input type="email" name="contact[email]">
  </div>

  <div class="submit">
    <input type="submit" value="Sign up">
  </div>
{% endform %}
