<h1> {{ page_title }} </h1>

{% render 'cart' %}

{% schema %}
{
  "name": "Cart",
  "class": "cart-page",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "page_title",
      "label": "Page title",
      "default": "Cart"
    },
    {
      "type": "select",
      "id": "checkout_button_style",
      "label": "Checkout button style",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        }
      ],
      "default": "primary"
    }
  ]
}
{% endschema %}
