<section class="collection-products--filters">
  {% render 'collection-filters'
    collection: collection
  %}
</section>

<section class="collection-products--products">
  {% render 'collection-products'
    collection: collection
    products_per_page: section.settings.products_per_page
  %}
</section>

{% schema %}
{
  "name": "Collection products",
  "class": "collection-products",
  "tag": "section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 9,
      "max": 36,
      "step": 3,
      "unit": "pd",
      "label": "Products per page",
      "default": 12
    },
    {
      "type": "select",
      "id": "pagination_style",
      "label": "Pagination type",
      "options": [
        {
          "value": "pagination",
          "label": "Pagination"
        },
        {
          "value": "infinity_scroll",
          "label": "Infinity scroll"
        },
        {
          "value": "load_more",
          "label": "Load more button"
        }
      ],
      "default": "pagination"
    }
  ]
}
{% endschema %}
