{% if settings.cart_type != 'page' and template != 'cart' %}
  <mini-cart
    cart-type="{{ settings.cart_type }}"
    {% if settings.cart_type == 'notification' %}
      delay="{{ settings.cart_notification_time }}"
    {% endif %}

    {% if settings.cart_type == 'minicart' %}
      open="false"
    {% endif %}
    class="minicart"
  >
    {% case settings.cart_type %}
      {% when 'notification' %}
        <section class="cart-notifications"></section>
      {% when 'minicart' %}
        <section class="minicart-header">
          <h3>{{ 'sections.cart.title' | t }}</h3>
          <span class="minicart-clear-all"> {{ 'sections.cart.remove_all' | t }} </span>
        </section>
        {% render 'cart' %}
    {% endcase %}
  </mini-cart>
{% endif %}

{% schema %}
{
  "name": "Minicart",
  "class": "minicart-container",
  "tag": "section"
}
{% endschema %}
