/* Design system */

/* Fonts styles */
body {
  font-family: var(--font-family-text);
  font-size: var(--font-size-text);
  background: var(--background-page);
  color: var(--text-color);
}

main {
  width: 100%;
  max-width: var(--max-page-with);
  margin: auto;
  padding: 0 var(--page--padding);
}

h1 {
  font-family: var(--font-family-titles);
  font-size: var(--font-size-title);
}

h2 {
  font-size: var(--font-size-subtitle);
}

/* Buttons styles */
a, button {
  padding: 0;
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
}

.btn-primary {
  background: var(--btn-primary-bg);
  color: var(--btn-primary-color);
  border: var(--btn-primary-border) var(--btn-primary-border-size) solid;
  border-radius: var(--btn-primary-border-radius);
  padding: var(--btn-primary-vertical-padding) var(--btn-primary-horizontal-padding);
  cursor: pointer;
  transition: background .3s, color .3s, border-color .3s;
}

.btn-primary:hover {
  background: var(--btn-primary-bg-hover);
  color: var(--btn-primary-color-hover);
  border-color: var(--btn-primary-border-hover);
  text-decoration: none;
}

.btn-secondary {
  background: var(--btn-secondary-bg);
  color: var(--btn-secondary-color);
  border: var(--btn-secondary-border) var(--btn-secondary-border-size) solid;
  border-radius: var(--btn-secondary-border-radius);
  padding: var(--btn-secondary-vertical-padding) var(--btn-secondary-horizontal-padding);
  cursor: pointer;
  transition: background .3s, color .3s, border-color .3s;
}

.btn-secondary:hover {
  background: var(--btn-secondary-bg-hover);
  color: var(--btn-secondary-color-hover);
  border-color: var(--btn-secondary-border-hover);
  text-decoration: none;
}