.collection-list h1 {
  margin-bottom: 16px;
}

.collection-list-container {
  display: flex;
  flex-direction: column;
}

.collection-list-container .collection-list--wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
} 