.product-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.product-card .product-card--image img {
  width: 100%;
  height: auto;
}

.product-card .product-card--variants .product-add-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}